.black-background {
  border-bottom: 1px solid rgb(0 235 9);
}

.green {
  color: rgb(0 235 9);
}

.text-center {
  text-align: center;
}

input {
  height: 3rem;
  border: 2px solid rgb(0 235 9);
  background-color: black;
  color: rgb(0 235 9);
  font-size: 1.4rem;
  letter-spacing: 1rem;
}

input:focus-visible {
  outline: none;
}
